@model BlogRepository.Models.Blog.BlogViewModel

@{
    ViewData["Title"] = "MyBlog";
}

<!-- Page Content -->
<div class="container">

    <form asp-action="Update" method="post">
        <!-- Portfolio Item Heading -->
        <div class="form-group">
            <h1>Nazwa:</h1>
            <input asp-for="Name" class="form-control" required/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="no-side-paddings col-md-8">
                <img class="img-fluid" src="http://placehold.it/750x500" alt="">
            </div>

            <div class="col-md-4">
                <h3 class="my-3">Opis bloga:</h3>
                <div class="form-group">
                    <textarea asp-for="Description" class="form-control" rows="17" required></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <input asp-for="Id" hidden />
                <button class="btn btn-success" style="float: right" type="submit">Zapisz</button>
            </div>

        </div>

    </form>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <h3 class="my-4">Posty:</h3>

    <div class="row">

        @{ var recentPosts = Model.Posts.Count >= 3 ? Model.Posts.Take(3) : Model.Posts; }
        @foreach (var post in recentPosts)
        {
            <div class="card no-side-paddings col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                </a>
                <div class="card-body">
                    <h2 class="card-title">@post.Title</h2>
                    @{var postPreview = String.Join("", (post.Content.Length >= 100 ? post.Content.Take(100) : post.Content).ToArray()) + "..."; }
                    <p class="card-text">@postPreview</p>
                    <a href="~/Post/ViewPost?postId=@post.Id" class="btn btn-primary">Przejdź &rarr;</a>
                    <a href="~/Post/Edit?postId=@post.Id" class="btn btn-dark">Edytuj &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Dodano @post.Created
                    Wyświetlenia: @post.Views
                </div>
            </div>
            <div class="col-md-1"></div>
        }

    </div>
    <!-- /.row -->

    <hr />
    <div style="display: flow-root">
        <form action="~/Post/Create" style="float:left">
            <button class="btn btn-success" style="width:150px" type="submit">Nowy post</button>
        </form>
        <form action="~/Blog/Delete" style="float: right">
            <button class="btn btn-danger" style="width:150px" type="submit">Usuń bloga</button>
        </form>
    </div>    
</div>
<!-- /.container -->